.table{
    float: right;
    width: 44%;
    font-size: 20px;
    border:  3px solid rgba(7, 53, 31, 0.801);
    border-radius: 30px;
    padding: 2%;
}
.container{
    margin-left:2%;
    margin-right:2%;
    margin-top: 2%;
}